---
layout: default
---

<p>
  Hey! I'm Scott, a third year CS student at Aston in Birmingham, UK. My
  favourite things are cycling, retro tech and beer. I maintain a
  <a href="/list">list of links</a> to interesting stuff. I also have
  <a href="bitcoin:19pz3P4QtxFyfv4BtTW9C1qcJaXzGg96vz?amount=0.005">a bitcoin
  address</a> if you fancy buying me a pint.
</p>
<h2>Projects</h2>
<ul class="projects">
  {% for project in site.projects %}
  <li>
    <a href="{{ project.url }}"><img src="{{ project.image }}" alt=""></a>
    <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
    {{ project.description | markdownify }}
  </li>
  {% endfor %}
</ul>
<h2>Recent posts</h2>
<ul>
  {% for post in site.posts limit:3 %}<li><a href="{{ post.url }}">{{ post.title }}</a> - <em>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</em></li>{% endfor %}
</ul>
<p>Please take a look at some more posts on my <a href="/blog">blog</a>.</p>
<h2>Speaking</h2>
<ul>
  <li>Hackcon EU III - <i>(Not) Selling Out</i> (<a href="https://www.youtube.com/watch?v=a52Yrlmxv_s">video</a>)</li>
  <li>Aston EAS Undergraduate Conference - <i>How Important is Privacy Online?</i> (<a href="https://spru.sr/talks/eas-ug-2017/">slides</a>, <a href="https://www.youtube.com/watch?v=yr86rLbp6Hk">video</a>)</li>
  <li>Hackcon EU II - <i>Inside the mind of a fresher</i> (<a href="https://drive.google.com/open?id=1Qr_jcpRnPklwT8k5fbx6CoVugHAFBX8HmdTkq21wj1w">slides</a>, <a href="https://www.youtube.com/watch?v=cKAD8dpBcOQ">video</a>)</li>
</ul>
<p>
  I have talks drafted about various things, including overcommitment/burnout,
  collecting <em>things</em> and the beliefs of an esoteric magical cult. If any
  of these sound interesting, please get in touch.
</p>
<h2>Hackathons</h2>
<p>
  I'm often asked how many hackathons I've attended. The count is currently at
  {{ site.hackathons | size }}, and the full list is below. Please take a look
  at my <a href="https://devpost.com/sprusr">Devpost profile</a> for links to projects.
</p>
<ul class="hackathons">
  {% for hack in site.hackathons %}<li>{{ hack.title }}</li>{% endfor %}
</ul>
