body {
  background-color: $background-color;

  @include media-query($content-width) {
      background-color: $container-background-color;
  }
}

.container {
  width: 100%;
  max-width: $content-width;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: $container-background-color;
  margin-top: 20px;

  @include media-query($content-width) {
      margin: 0 auto;
  }
}

header {
  text-align: center;
  padding-bottom: 80px;
}

.site-title {
  padding: 1em;
  font-size: 18pt;

  h1 {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

footer {
  text-align: center;
  padding-top: 80px;
}

.center {
  text-align: center;
}
