---
layout: default
---
<article class="post">
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  {{ content }}
  <div class="meta">
    <p class="permalink"><a href="{{ page.url }}">[x]</a></p>
    <p class="date">{{ page.date | date: "%b %-d, %Y" }}</p>
  </div>
  {% if page.comments %}
  <div class="comments">
    <div id="disqus_thread"></div>
    <script>
      var disqus_developer = 1;
      var disqus_config = function() {
        this.page.url = '{{ site.url }}{{ page.url }}';
        this.page.identifier = '{{ page.id }}';
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//sprusr.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>
  {% endif %}
</article>
